/* Add padding to the top of the body or main container to ensure the content isn't hidden behind the NavBar */
body,
.main-content {
  margin-bottom: 80px;
  margin-top: 30px;
  /* Adjust this value to match the height of your NavBar */
}

/* Ensure the NavBar has a lower z-index if you want other components to overlay it */
header {
  z-index: 10;
  /* Lower value if other components should overlay */
}


Link {
  text-decoration: none;
  text-align: center;
}

.h1-border {
  margin-top: 0;
  padding-bottom: 8px;
  border-bottom: 5px solid #343a40;
  display: inline-block;
  margin-bottom: 20px;
}

/* Add this to your App.css or a relevant CSS file */
.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 0px;
  color: white;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transition-duration: 0.5s;
}

.nav-link:focus::after,
.nav-link:active::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


.stack-full-height {
  height: 100%;
  position: relative;
}

/* App.css */
.full-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding-left: 200px;
  /* Adjust based on the width of your sidebar */
}

.fixed-sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  /* Adjust width based on your sidebar's width */
  overflow-y: auto;
  /* Allow scrolling if content overflows */
}

.footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding-left: 200px;
  /* Adjust based on the width of your sidebar */
  background-color: #343a40;
  color: white;
  text-align: center;
}