Link{
    text-decoration: none;
    text-align: center;
}
.h1-border {
  margin-top: 0;
  padding-bottom: 8px;
  border-bottom: 5px solid #343a40;
  display: inline-block; 
  margin-bottom: 20px;
}

/* Add this to your App.css or a relevant CSS file */
.nav-link {
  position: relative;
  display: inline-block;
  padding-bottom: 0px;
  color: white;
  text-decoration: none;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
  transition-duration: 0.5s;
}

.nav-link:focus::after,
.nav-link:active::after {
  transform: scaleX(1 );
  transform-origin: bottom left;
}