@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Zeyada&display=swap');
* {
  font-family: Nonito,"Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  
}
.title{
  margin-top: 20px;
  font-family: "Zeyada",sans-serif;
}

body {
  margin: 20px;
  background-color: azure;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.atstart .bi-car-front-fill {
  animation: slideIn 2s forwards;
  opacity: 0;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.hyd{
  background-image: url('../public/images/hyd.jpeg');
  background-position: 0%;
  background-size: cover;
}
.hyd:hover{
  
  opacity: 0.6;
  font-weight: 900;
}
.qr-opac-50 {
  opacity: .5;
}
.city-page-data{
  background-color: #fafafa;
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.qr-green{
  color: #25a360;
}