/* Dashboard.css */
.custom-button {
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.custom-button:hover {
    background-color: #fffdfd;
    /* Darker shade */
    color: #040404;
    /* White text */
    transform: scale(1.05);
    /* Slightly larger */

}

.gold-gradient-btn {
    background: linear-gradient(90deg, #f0e68c, #ffd700, #f0e68c);
    /* Gold gradient */
    color: #000;
    /* Text color */
    border: none;
    /* Remove border */
    padding: 0.5rem 1rem;
    /* Padding for the button */
    font-size: 1rem;
    /* Font size */
    transition: background 0.3s ease;
    /* Smooth transition for hover effect */
    cursor: pointer;
    /* Pointer cursor on hover */
}

.gold-gradient-btn:hover {
    background: linear-gradient(90deg, #ffd700, #f0e68c, #ffd700);
    /* Slightly change gradient on hover */
    color: #000;
    /* Ensure text color remains legible */
}

a {
    padding: 0.5rem 1rem;
    /* Padding for the nav item */
    font-size: 1rem;
    /* Font size */
    text-decoration: none;
    transition: background 0.3s ease;
    /* Smooth transition for hover effect */
    cursor: pointer;
    /* Pointer cursor on hover */
}